.Product {
    width: 877px;
    display: flex;
    align-self: center;
    margin: auto;
    margin-top: 30px;
}

.Product img {
    width: 430px;
    height: 313px;
    border-radius: 30px;
}

.Product .Info {
    margin-left: 20px;
}

.Product .Info h4 {
    font-size: 24px;
    font-weight: normal;
    margin-top: 5px;
    margin-bottom: 0;
}

.Product .Info h3 {
    font-size: 30px;
    font-weight: lighter;
    margin-bottom: 10px;
    margin-top: 5px;
}

.Product .Info hr {
    width: 300px;
    border: .5px solid #B3B6B7;
}

.Product .Info p {
    font-size: 16px;
    font-weight: lighter;
}

.Product .Info .ProductForm {
    font-size: 18px;
}