.Navbar {
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #F7F9F9;
    /* background-color: white; */
}

.Navbar a, .Navbar div {
    font-size: 24px;
    font-weight: lighter;
    color: #B3B6B7;
    text-decoration: none;
    margin-right: 31px;
    cursor: pointer;
}

.Navbar .Active {
    color: #3498DB;
    border-bottom: 1px solid #3498DB;
}

.Navbar .Cart {
    float: right;
}