.Checkout {
    width: 877px;
    align-self: center;
    margin: auto;
    margin-top: 30px;
}

.Checkout h2, .Checkout h3 {
    text-align: center;
}

.Checkout h2 {
    font-weight: lighter;
    font-size: 36px;
}

.Checkout h3 {
    font-weight: normal;
    font-size: 28px;
}

.Checkout h4 {
    font-weight: normal;
    font-size: 24px;
    text-align: center;
    margin-bottom: 0;
}

.Checkout h3 strong {
    color: #2ecc71;
}

.Items {
    border: 1px solid grey;
    background-color: white;
    border-radius: 5px;
    text-align: left;
    width: 250px;
    align-self: center;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
}

.Item {
    margin-bottom: 3px;
}

.Form {
    width: 800px;
    align-self: center;
    margin: auto;
    margin-top: -20px;
}

.StripeButton {
    float: right;
    margin-right: 50px;
}

.StripeButton p {
    color: #3498DB;
}