.Mountains {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: 0% 30%;
    padding: 0;
    margin: 0;
}

.OrderSuccess {
    font-weight: lighter;
    font-size: 36px;
    color: #2ecc71;
    width: 60%;
    align-self: center;
    text-align: center;
    margin: auto;
    border-bottom: 3px solid #2ecc71;
}

.TestSite {
    font-weight: lighter;
    font-size: 30px;
    color: rgb(233, 139, 16);
    width: 60%;
    align-self: center;
    text-align: center;
    margin: auto;
    border-bottom: 3px solid rgb(233, 139, 16);
}

.IconCredit {
    width: 100%;
    height: 50px;
    background-color: #212f3c;
}

.FlatIcon {
    margin-top: 13px;
    margin-right: 10px;
    float: right;
    color: rgb(196, 196, 196);
}

.FlatIcon a {
    text-decoration: none;
    color: #2e86c1;
}

@media screen and (max-width: 500px){
    .Mountains {
        height: 200px;
    }
}
