.Mountains {
    width: 100vw;
    height: 300px;
    object-fit: cover;
    object-position: 0% 30%;
    padding: 0;
    margin: 0;
    align-self: center;
}

@media screen and (max-width: 500px){
    .Mountains {
        height: 200px;
    }
}
