.Products {
    width: 900px;
    display: flexbox;
    align-self: center;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 100px;
}

.ProductsDescription {
    font-size: 20px;
    font-weight: lighter;
}

.ProductsHeader {
    font-size: 36px;
    font-weight: lighter;
    text-align: center;
    margin-bottom: 15px;
}

.Products hr {
    width: 500px;
    border: .5px solid #B3B6B7;
}

@media screen and (max-width: 1000px) {
    .Products {
        width: 80%;
    }
    .Products hr {
        width: 70%;
    }
}