.Titlecard {
    text-align: center;
}

.Titlecard .Logo {
    width: 115px;
    height: 109px;
    margin: 0;
}

.Titlecard h1 {
    font-size: 64px;
    font-weight: lighter;
    margin: 0;
    margin-top: -30px;

}

.Titlecard p {
    color: #787878;
    font-style: italic;
    font-size: 24px;
    margin: 0;
}

.Titlecard hr {
    margin-top: 30px;
    width: 987px;
}