.Titlecard {
    text-align: center;
    margin-top: 50px;
}

.Titlecard .Logo {
    width: 115px;
    height: 109px;
    margin: 0;
}

.Titlecard h1 {
    font-size: 64px;
    font-weight: lighter;
    margin: 0;
    margin-top: -30px;
}

.Titlecard p {
    color: #787878;
    font-style: italic;
    font-size: 24px;
    margin: 0;
}

.Titlecard hr {
    margin-top: 30px;
    width: 987px;
}

@media screen and (max-width: 800px){
    .Titlecard h1 {
        font-size: 48px;
    }
    .Titlecard p {
        font-size: 18px;
    }
    .Titlecard hr {
        width: 500px;
    }
}

@media screen and (max-width: 500px){
    .Titlecard .Logo {
        width: 82px;
        height: 80px;
        margin-bottom: 20px;
    }
    .Titlecard h1 {
        font-size: 36px;
    }
    .Titlecard hr {
        width: 300px;
    }
}